.my-content {
  /*当把div设置成了绝对定位,那么它默认的宽度度为内容的高度*/
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
  width: 100%;
}
.my-content .category-left {
  height: 100%;
  width: 80px;
  float: left;
  background-color: pink;
  position: relative;
}
.my-content .category-right {
  height: 100%;
  margin-left: 90px;
  background-color: skyblue;
  position: relative;
}
