#refreshContainer > div .filter {
  width: 92%;
  margin: 10px auto 0;
}
#refreshContainer > div .filter .mui-col-xs-6 {
  height: 35px;
  line-height: 35px;
  background-color: #efeff4;
  font-size: 14px;
  text-align: center;
}
#refreshContainer > div .filter .mui-icon {
  font-size: 12px;
}
